<div id="accountHeader">
  {{#unless user.verified}}
  <div class="alert alert-warning">
    <button class="close" data-dismiss="alert">x</button>
    <strong>Você ainda não verificou seu e-mail.</strong> Faça isso o quanto antes, ou não poderá realizar pedidos.<br />
    <a href="#" id="resendConfirmationEmail">Reenviar e-mail de verificação</a>
  </div>
  <div>
  </div>
  {{/unless}}
  <div>
    <p>Olá {{user.name}}!</p>
  </div>
  <div>
    <a href="orders" class="btn btn-primary">Ver pedidos</a>
  </div>
</div>
