<h2>Pedido:</h2>
<div id="order">
  {{#if order.evaluation}}
  <div id="evaluation">
    Classificado como:
    <div id="ratingStars" data-average="{{order.evaluation.rating}}" data-id="1"></div>
  </div>
  {{else}}
  <div id="newEvaluation" class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title"><strong>Você ainda não avaliou esse pedido!</strong> Por favor avalie o vendedor auxiliar na sua classificação.</h4>
    </div>
    <div class="panel-body">
      Como você classificaria o lojista com relação a esse pedido (1 sendo muito ruim e 5 excelente)?
      <div id="newRatingStars" data-average="0" data-id="1"></div>
      <div class="form-group">
        <label for="newEvaluation">Comente sobre sua avaliação (opcional):</label>
        <textarea id="newEvaluationBody" name="newEvaluationBody" rows="4" class="form-control" ></textarea>
      </div>
      <button id="createEvaluation" class="btn btn-warning">Avaliar</button>
    </div>
  </div>
  {{/if}}
  <div id="orderDescription">
    <span id="_id" data-id="{{order._id}}"></span>
    Pedido realizado em <strong><span id="orderDate">{{order.orderDate}}</span></strong>
    na loja  <strong><a id="storeLink" href="/{{order.storeSlug}}">{{order.storeName}}</a></strong>
  </div>
  <address id="deliveryAddress">
    <strong>Endereço de entrega:</strong><br />
    <span id="street">{{order.deliveryAddress.street}}</span> - <span id="street2">{{order.deliveryAddress.street2}}</span><br />
    <span id="city">{{order.deliveryAddress.city}}</span> / <span id="state">{{order.deliveryAddress.state}}</span><br />
    CEP <span id="zip">{{order.deliveryAddress.zip}}</span>
  </address>
  <strong>Produtos:</strong>
  <table class="table" id="items">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Valor total</th>
      </tr>
    </thead>
    <tbody>
    {{#each order.items}}
      <tr class="orderItem" data-id="{{_id}}">
        <td><a class="url" href="/{{storeSlug}}/{{slug}}"><img class="picture" src="{{picture}}" />{{name}}</a></td>
        <td class="price">{{price}}</td>
        <td class="quantity">{{quantity}}</td>
        <td class="totalPrice">{{totalPrice}}</td>
      </tr>
    {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td>
          <span id="numberOfItems">{{order.numberOfItems}}</span> itens
        </td>
        <td>
        </td>
        <td>
          <strong>Valor dos produtos</strong>
        </td>
        <td>
          <strong id="totalProductsPrice">{{order.totalProductsPrice}}</strong>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <strong>Frete</strong>
        </td>
        <td>
          <strong id="shippingCost">{{order.shippingCost}}</strong>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <strong>Total</strong>
        </td>
        <td>
          <strong id="totalSaleAmount">{{order.totalSaleAmount}}</strong>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
