<h2>Pedido:</h2>
<div class="order">
  <span id="_id" data-id="{{order._id}}"></span><span id="orderDate">{{order.orderDate}}</span><br />
  <a id="storeLink" href="/{{order.storeSlug}}">{{order.storeName}}</a><br />
  <span id="numberOfItems">{{order.numberOfItems}}</span> itens<br />
  <span id="totalSaleAmount">{{order.totalSaleAmount}}</span><br />
  <span id="shippingCost">{{order.shippingCost}}</span><br />
  <span id="totalProductsPrice">{{order.totalProductsPrice}}</span><br />
  <address id="deliveryAddress">
    <strong>Endereço:</strong><br />
    <span id="street">{{order.deliveryAddress.street}}</span> - <span id="street2">{{order.deliveryAddress.street2}}</span><br />
    <span id="city">{{order.deliveryAddress.city}}</span><br />
    <span id="state">{{order.deliveryAddress.state}}</span><br />
    <span id="zip">{{order.deliveryAddress.zip}}</span>
  </address>
  <table class="table" id="items">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Valor total</th>
      </tr>
    </thead>
    <tbody>
    {{#each order.items}}
      <tr class="OrdeItem">
        <td><a class="url" href="/{{storeSlug}}#{{slug}}"><img class="picture" src="{{picture}}" />{{name}}</a></td>
        <td class="price">{{price}}</td>
        <td class="quantity">{{quantity}}</td>
        <td class="totalPrice">{{totalPrice}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
