<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="#{STATIC_PATH}/javascripts/lib/es5-shim/es5-shim.min.js"></script>
<script src="#{STATIC_PATH}/javascripts/lib/es5-shim/es5-sham.min.js"></script>
<![endif]-->
