//.navbar-header
  button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
    span.icon-bar
    span.icon-bar
    span.icon-bar
//.navbar-collapse.collapse.navbar-left
  form.navbar-form.navbar-left
    .form-group
      input#productSearchTerm.form-control(type="text",placeholder="Busca Produtos")
    button#doSearchProduct.btn.btn-default(onclick="Backbone.history.navigate('searchProducts/'+document.getElementById('productSearchTerm').value, true);return false;"): i.glyphicon.glyphicon-search
  ul.nav.navbar-nav
    if (everyauth.loggedIn && user.isSeller)
      li: a#admin(href='/admin') Administração
  ul.nav.navbar-nav
    li: a(href="#", onclick="Backbone.history.navigate('cart', true); return false;")
      i.icon-shopping-cart
      | Carrinho
