<div class="row">
  <div class="span8">
    <img id="storeBanner" src="{{store.banner}}"</img>
    <h1><a href="#">{{store.name}}</a></h1>
    {{#if product}}
    <div id="product">
      <img id="picture" src="{{product.picture}}" alt="{{product.name}}" />
      <h2 id="name">{{product.name}}</h2>
      <div>C&oacute;digo: <span id="id">{{product._id}}</span></div>
      <div>R$ <span id="price">{{product.price}}</span></div>
      <div>Tags: <span id="tags">{{product.tags}}</span></div>
      <div>Descri&ccedil;&atilde;o: <span id="description">{{product.description}}</span>
        <div id="dimensions">
          <div>Altura: <span id="height">{{product.dimensions.height}}</span>cms</div>
          <div>Largura: <span id="width">{{product.dimensions.width}}</span>cms</div>
          <div>Profundidade: <span id="depth">{{product.dimensions.depth}}</span>cms</div>
        </div>
        <div>Peso: <span id="weight">{{product.weight}}</span>kgs</div>
        {{#if product.hasInventory}}
        <div>Estoque: <span id="inventory">{{product.inventory}} itens</span></div>
        {{else}}
        <div><span id="inventory">Feito sob encomenda</span></div>
        {{/if}}
      </div>
      <input type="button" class="btn-primary" id="buy" name="buy" value="Comprar" />
      <div><a href="#">Voltar a loja</a></div>
      {{/if}}
  </div></div>
  <div id="store" class="span4">
    <div id="storeName">{{store.name}}</div>
    <div><span id="storePhoneNumber">{{store.phoneNumber}}</span></div>
    <div><span id="storeCity">{{store.city}}</span>/<span id="storeState">{{store.state}}</span></div>
    <div><a id="storeOtherUrl" href="{{store.otherUrl}}">{{store.otherUrl}}</a></div>
  </div>
</div>
