{{#if this}}
<div id="product">
  <img id="picture" src="{{picture}}" alt="{{name}}" />
  <div id="id">{{_id}}</div>
  <div id="name">{{name}}</div>
  <div id="price">{{price}}</div>
  <div id="tags">{{tags}}</div>
  <div id="description">{{description}}</div>
  <div id="dimensions">
    <div id="height">{{dimensions.height}}</div>
    <div id="width">{{dimensions.width}}</div>
    <div id="depth">{{dimensions.depth}}</div>
  </div>
  <div id="weight">{{weight}}</div>
  <div id="inventory">{{inventory}} itens</div>
</div>
{{/if}}
