{{#if this}}
<div id="product">
  <img id="picture" src="{{picture}}" alt="{{name}}" />
  <h2 id="name">{{name}}</h2>
  <div>C&oacute;digo: <span id="id">{{_id}}</span></div>
  <div>R$ <span id="price">{{price}}</span></div>
  <div>Tags: <span id="tags">{{tags}}</span></div>
  <div>Descri&ccedil;&atilde;o: <span id="description">{{description}}</span>
  <div id="dimensions">
    <div>Altura: <span id="height">{{dimensions.height}}</span>cms</div>
    <div>Largura: <span id="width">{{dimensions.width}}</span>cms</div>
    <div>Profundidade: <span id="depth">{{dimensions.depth}}</span>cms</div>
  </div>
  <div>Peso: <span id="weight">{{weight}}</span>kgs</div>
  {{#if hasInventory}}
  <div>Estoque: <span id="inventory">{{inventory}} itens</span></div>
  {{else}}
  <div><span id="inventory">Feito sob encomenda</span></div>
  {{/if}}
</div>
{{/if}}
