commands:
  fixNpm:
    command: sed -i 's/function error_exit/export HOME=\/root\n\nfunction error_exit/' /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh

container_commands:
  gruntInstall:
    command: /opt/elasticbeanstalk/node-install/node-v0.10.10-linux-x64/bin/node node_modules/grunt-cli/bin/grunt install > gruntInstall.log
    env:
      HOME: /root
