sources:
  /home/ec2-user: http://downloads.sourceforge.net/project/s3tools/s3cmd/1.5.0-alpha3/s3cmd-1.5.0-alpha3.tar.gz
container_commands:
  00a_writeConfigKey:
    command: sed -i "s/AWS_SECRET_KEY/$AWS_SECRET_KEY/" .s3cfg
    leader_only: true
  00b_writeConfigSecret:
    command: sed -i "s/AWS_ACCESS_KEY_ID/$AWS_ACCESS_KEY_ID/" .s3cfg
    leader_only: true
  01_gzip:
    command: gzip -r --best compiledPublic
    leader_only: true
  02_rename:
    command: find compiledPublic -type f -name '*.gz' | while read filename; do mv -v "${filename}" "`echo "${filename}" | sed -e 's/\.gz$//'`"; done
    leader_only: true
  03_s3_upload_stylesheets:
    command: /home/ec2-user/s3cmd-1.5.0-alpha3/s3cmd put -r compiledPublic/stylesheets s3://ateliesStatic/ --acl-public --add-header "Content-Encoding:gzip" --config .s3cfg
    leader_only: true
  04_s3_upload_js:
    command: /home/ec2-user/s3cmd-1.5.0-alpha3/s3cmd put -r compiledPublic/javascripts s3://ateliesStatic/ --acl-public --add-header "Content-Encoding:gzip" --config .s3cfg
    leader_only: true
  05_s3_upload_images:
    command: /home/ec2-user/s3cmd-1.5.0-alpha3/s3cmd put -r compiledPublic/images s3://ateliesStatic/ --acl-public --add-header "Content-Encoding:gzip" --config .s3cfg
    leader_only: true
  06_s3_upload_fonts:
    command: /home/ec2-user/s3cmd-1.5.0-alpha3/s3cmd put -r compiledPublic/fonts s3://ateliesStatic/ --acl-public --add-header "Content-Encoding:gzip" --config .s3cfg
    leader_only: true
