container_commands:
  000_cloneS3cmd:
    command: if [[ ! -d /home/ec2-user/s3cmd ]]; then (git clone https://github.com/s3tools/s3cmd.git /home/ec2-user/s3cmd > /var/log/cloneS3cmd.log && git --git-dir=/home/ec2-user/s3cmd/.git checkout 9ee3bdd320c8 >> /var/log/cloneS3cmd.log ) fi
    leader_only: true
  010a_writeConfigKey:
    command: sed -i "s/AWS_SECRET_KEY/$AWS_SECRET_KEY/" .s3cfg
    leader_only: true
  010b_writeConfigSecret:
    command: sed -i "s/AWS_ACCESS_KEY_ID/$AWS_ACCESS_KEY_ID/" .s3cfg
    leader_only: true
  020_gzip:
    command: gzip -r --best compiledPublic > /var/log/gzipCompiledPublic.log
    leader_only: true
  030_rename:
    command: find compiledPublic -type f -name '*.gz' | while read filename; do mv -v "${filename}" "`echo "${filename}" | sed -e 's/\.gz$//'`"; done
    leader_only: true
  040_s3_upload_stylesheets:
    command: /home/ec2-user/s3cmd/s3cmd put -r compiledPublic/stylesheets s3://ateliesStatic/ --add-header="Content-Encoding:gzip" --config .s3cfg > /var/log/uploadToS3.log
    leader_only: true
  050_s3_upload_js:
    command: /home/ec2-user/s3cmd/s3cmd put -r compiledPublic/javascripts s3://ateliesStatic/ --exclude=compiledPublic/javascripts/lib/*.* --exclude=**/*.coffee --exclude=compiledPublic/javascripts/test/*.* --include=compiledPublic/javascripts/lib/requirejs/require.js --include=compiledPublic/javascripts/lib/bootstrap/img/*.*  --add-header="Content-Encoding:gzip" --config .s3cfg >> /var/log/uploadToS3.log
    leader_only: true
  060_s3_upload_images:
    command: /home/ec2-user/s3cmd/s3cmd put -r compiledPublic/images s3://ateliesStatic/ --add-header="Content-Encoding:gzip" --config .s3cfg >> /var/log/uploadToS3.log
    leader_only: true
  070_s3_upload_fonts:
    command: /home/ec2-user/s3cmd/s3cmd put -r compiledPublic/fonts s3://ateliesStatic/ --add-header="Content-Encoding:gzip" --config .s3cfg >> /var/log/uploadToS3.log
    leader_only: true
