$minWidthPC: 981px;
$maxWidthPhone: 980px;
@mixin smallScreen {  
  @media (max-width: 980px) { @content; }
}
@mixin largeScreen {  
  @media (min-width: 981px) { @content; }
}
body {
  padding-top: 10px;
  padding-bottom: 40px;
  font-family: 'Ubuntu', sans-serif;
}
.social {
  list-style: none;
  width: 250px;
  margin-top: 15px;
}
.social li {
  margin-left: 10px;
  float: right;
}
.navbar-search .btn {
  margin: 0px 0px 1px 0px;
}
#stores {
  .storesRow{
    @include largeScreen {
      padding-bottom: 30px;
    }
    .store {
      @include smallScreen {
        text-align: center;
      }
      border: 1px solid #ccc;
      background-color: white;
      float: left;
      position:relative;
      .link {
      }
    }
  }
}
#productsSearchResults {
  .productsRow{
    @include largeScreen {
      padding-bottom: 30px;
    }
    .product {
      @include smallScreen {
        text-align: center;
      }
      border: 1px solid #ccc;
      background-color: white;
      float: left;
      position:relative;
      .link {
        max-height: 150px;
      }
    }
  }
}
#products {
  .product {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 7px;
    float: left;
    position:relative;
    .picture {
    }
    .link {
      width: 150px;
      height: 150px;
      display: block;
      overflow: hidden;
    }
    .storeName {
      padding-left: 5px;
      float:left;
      text-decoration:none;
      color:white;
    }
    .price {
      padding-right: 5px;
      float:right;
      text-decoration:none;
      color:white;
    }
    .productInfoBox {
      position: absolute;
      top: -50+9+150px;
      width: 150px;
      background-color: black;
      display: block;
      height: 50px;
      opacity:0.5;
      /*filter:alpha(opacity=50);*/
      .name {
      }
    }
  }
  a.prev, a.next {
    position: relative;
    top: -100px;
  }
  a.prev {
    float:left;
  }
  a.next {
    float:right;
  }
}
.nameHeader {
  font-weight: normal;
}
@include largeScreen {
  #userInfo {
    float:right;
  }
}
@include smallScreen {
  #userInfo {
    float:left;
  }
}
