body {
  padding-top: 10px;
  padding-bottom: 40px;
  font-family: 'Ubuntu', sans-serif;
}
.social {
  list-style: none;
  width: 250px;
  margin-top: 15px;
}
.social li {
  margin-left: 10px;
  float: right;
}
.navbar-search .btn {
  margin: 0px 0px 1px 0px;
}
img.carousel {
}
#storesHome{
  .store {
    border: 1px solid #ccc;
    background-color: white;
    float: left;
    position:relative;
    .link {
      height: 70px;
      display: block;
      overflow: hidden;
    }
  }
}
.carouselHolder {
  border: 1px solid #ccc;
  background-color: white;
  padding: 9px;
  margin: 7px;
  float: left;
  position:relative;
  .link {
    width: 150px;
    height: 150px;
    display: block;
    overflow: hidden;
  }
  .name {
    padding-left: 5px;
    float:left;
    text-decoration:none;
    color:white;
  }
  .price {
    padding-right: 5px;
    float:right;
    text-decoration:none;
    color:white;
  }
  .store {
    float:right;
  }
  .productInfoBox {
    position: absolute;
    top: -50+9+150px;
    width: 150px;
    background-color: black;
    display: block;
    height: 50px;
    opacity:0.5;
    /*filter:alpha(opacity=50);*/
    .name {
    }
  }
}
a.prev, a.next {
  position: relative;
  top: -100px;
}
a.prev {
  float:left;
}
a.next {
  float:right;
}
.nameHeader {
  font-weight: normal;
}
@media (min-width: 980px){
  #userInfo {
    float:right;
  }
}
@media (max-width: 981px) {
  #userInfo {
    float:left;
  }
}
