@import '../javascripts/lib/bootstrap/less/bootstrap.less';
@import '../javascripts/lib/bootstrap/less/responsive.less';
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@iconSpritePath: "../javascripts/lib/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../javascripts/lib/bootstrap/img/glyphicons-halflings-white.png";
@linkColor:lighten(@orange, 15%);
@btnWarningBackground: lighten(@pink, 15%);
@btnWarningBackgroundHighlight: @pink;
@minWidthPC: 981px;
@maxWidthPhone: 980px;
@stdColor: #ffffff;
@colorShade12: #110e0c;
@colorShade11: #28211c;
@colorShade10: #3f332d;
@colorShade9: #56463d;
@colorShade8: #6d594d;
@colorShade7: #846b5e;
@colorShade6: #997f6f;
@colorShade5: #a99386;
@colorShade4: #baa89d;
@colorShade3: #cabcb4;
@colorShade2: #dad1cb;
@colorShade1: #ebe5e2;
@colorShade0: #fbfaf9;
@defaultFontColor: @colorShade9;
@smallScreenMaxWidth: 980px;
@largeScreenMinWidth: 981px;
@smallScreen: ~"(max-width: @{smallScreenMaxWidth})";
@largeScreen: ~"(min-width: @{largeScreenMinWidth})";
body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #1F1F1F url(../images/pattern.png) repeat top left;
  color: @defaultFontColor;
}
.navbar-inner {
  background-image: linear-gradient(to bottom, #ffffff, @colorShade1);
  .nav {
    li{ 
      a{
        color: @defaultFontColor;
      }
    }
  }
}
section#main {
  background-color:#FFFFFF;
  padding: 20px 20px 0px 20px;
}
.social {
  list-style: none;
  width: 250px;
  margin-top: 15px;
}
.social li {
  margin-left: 10px;
  float: right;
}
.navbar-search .btn {
  margin: 0px 0px 1px 0px;
}
#stores {
  .storesRow{
    @media @largeScreen {
      padding-bottom: 30px;
    }
    .store {
      @media @smallScreen {
        text-align: center;
      }
      border: 1px solid #ccc;
      background-color: white;
      float: left;
      position:relative;
      .link {
      }
    }
  }
}
#productsSearchResults {
  .productsRow{
    @media @largeScreen {
      padding-bottom: 30px;
    }
    .product {
      @media @smallScreen {
        text-align: center;
      }
      border: 1px solid #ccc;
      background-color: white;
      float: left;
      position:relative;
      .link {
        max-height: 150px;
      }
    }
  }
}
#products {
  .product {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 7px;
    float: left;
    position:relative;
    .picture {
    }
    .link {
      width: 150px;
      height: 150px;
      display: block;
      overflow: hidden;
    }
    .storeName {
      padding-left: 5px;
      float:left;
      text-decoration:none;
      color:white;
    }
    .price {
      padding-right: 5px;
      float:right;
      text-decoration:none;
      color:white;
    }
    .productInfoBox {
      position: absolute;
      top: -50+9+150px;
      width: 150px;
      background-color: black;
      display: block;
      height: 50px;
      opacity:0.5;
      /*filter:alpha(opacity=50);*/
      .name {
      }
    }
  }
  a.prev, a.next {
    position: relative;
    top: -100px;
  }
  a.prev {
    float:left;
  }
  a.next {
    float:right;
  }
}
.nameHeader {
  font-weight: normal;
  padding-top: 50px;
  padding-left: 30px;
  color: @defaultFontColor;
}
@media @largeScreen {
  #userInfo {
    float:right;
  }
}
@media @smallScreen {
  #userInfo {
    float:left;
  }
}
footer {
  background-color: @colorShade12;
  color: @colorShade2;
  padding-top: 20px;
  padding-bottom: 4px;
  margin: 0 -20px 0 -20px;
  ul {
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid #404040;
      list-style: none outside none;
      padding: 10px 0;
      a{
        color: @colorShade1;
      }
      a:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
}
section#app-container {
  margin-bottom: 30px;

  .store {
    #storeHeader {
      .clearfix();
      #homePageImage {
        float:left;
        margin-right: 30px;
      } 
    }
    #product {
      padding-bottom: 30px;
      #picture {
        float:left;
        padding-right: 30px;
      }
      #nameHolder {
      }
      #name {
      }
      .tag{
        vertical-align:text-top;
      }
      #purchaseItem {
        margin-bottom: 20px;
      }
      #description {
        margin-bottom: 20px;
      }
      #inventoryInfo {
        margin-top: 20px;
      }
    }
    #askAQuestion {
      padding-bottom: 30px;
    }
    #productsPlaceHolder {
      padding-bottom: 30px;
    }
    #cartItems {
      margin-bottom: 40px;
      .pictureHolder {
        width: 100px;
        height: 100px;
        display: block;
        overflow: hidden;
      }
      .quantity {
        width: 30px;
      }
    }
    #storeFinishOrderSummary {
      #redirMsg {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }

  .account {
    #order {
      #items {
        margin-bottom: 40px;
        .url {
          width: 60px;
          height: 60px;
          display: block;
          overflow: hidden;
        }
      }
    }
  }

  .admin {
    #pagseguroOptions {
      display: inline;
      #manageStorePagseguroView {
        display: inline;
      }
    }
  }
}
