{{#if hasProducts}}
<div id="productsSearchResults">
  {{#each productGroups}}
  <div class="row productsRow">
    {{#each products}}
    <div id="product{{_id}}" data-id="{{_id}}" class="product col-md-2">
      <a href="{{url}}" class="link"><img src="{{pictureThumb}}" /></a>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
{{else}}
<div id="productsNotFound" class="alert">
  <strong>Nenhum produto encontrado.</strong> A busca encontra somente palavras completas. Busque novamente!
</div>
{{/if}}
