<div id="products" class="row">
  <div id="carousel">
    {{#each products}}
    <div id="product{{_id}}" data-id="{{_id}}" class="product">
      <a id="product{{_id}}_picture" href="{{url}}" class="link" data-not-push-state="true">
        <img src="{{pictureThumb}}" alt="{{name}}" class="picture" />
        <div class="productInfoBox">
          <span id="product{{_id}}_storeName" class="storeName">{{storeName}}</span>
          <span id="product{{_id}}_price" class="price">R$ {{price}}</span>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
  <a class="prev" id="carouselLeft" href="#" data-not-push-state="true"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="next" id="carouselRight" href="#" data-not-push-state="true"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
