<div id="productsFeatured" class="row-fluid">
  <div id="productsHome">
    {{#each productsFeatured}}
    <div id="product{{_id}}" data-id="{{_id}}" class="carouselHolder">
      <a id="product{{_id}}_picture" href="{{url}}" class="link">
        <img src="{{picture}}" alt="{{name}}" class="carousel" />
        <div class="productInfoBox">
          <span id="product{{_id}}_name" class="name">{{name}}</span>
          <span id="product{{_id}}_price" class="price">R$ {{price}}</span>
        </div>
      </a>
      <span id="product{{_id}}_store" class="store"><a href="{{storeSlug}}">{{storeName}}</a></span>
    </div>
    {{/each}}
  </div>
  <a class="prev" id="carouselLeft" href="#"><i class="icon-backward"></i></a>
  <a class="next" id="carouselRight" href="#"><i class="icon-forward"></i></a>
</div>
<div id="stores" class="row-fluid">
  <div id="storesHome">
    {{#each stores}}
    <div id="store{{_id}}" data-id="{{_id}}" class="store span3">
      <a href="{{slug}}" class="link"><img src="{{banner}}" /></a>
    </div>
    {{/each}}
  </div>
</div>
<div id="products" class="row-fluid">
  {{#each products}}
  <div data-id="{{_id}}" class="product span4">
    <a href="{{url}}" class="link">
      <img src="{{picture}}" alt="{{name}}" class="" />
      <div class="productInfoBox">
        <span class="storeName">{{storeName}}</span>
        <span class="price">R$ {{price}}</span>
      </div>
    </a>
    <span id="product{{_id}}_store" class="store"><a href="{{storeSlug}}">{{storeName}}</a></span>
  </div>
  {{/each}}
</div>
