<div id="products" class="row-fluid">
  <div id="carousel">
    {{#each products}}
    <div id="product{{_id}}" data-id="{{_id}}" class="product">
      <a id="product{{_id}}_picture" href="{{url}}" class="link">
        <img src="{{picture}}" alt="{{name}}" class="picture" />
        <div class="productInfoBox">
          <span id="product{{_id}}_name" class="name">{{name}}</span>
          <span id="product{{_id}}_price" class="price">R$ {{price}}</span>
        </div>
      </a>
      <span id="product{{_id}}_store" class="store"><a href="{{storeSlug}}">{{storeName}}</a></span>
    </div>
    {{/each}}
  </div>
  <a class="prev" id="carouselLeft" href="#"><i class="icon-backward"></i></a>
  <a class="next" id="carouselRight" href="#"><i class="icon-forward"></i></a>
</div>
<div id="stores" class="row-fluid">
  {{#each stores}}
  <div id="store{{_id}}" data-id="{{_id}}" class="store">
    <a href="{{slug}}" class="link"><img src="{{flyer}}" /></a>
  </div>
  {{/each}}
</div>
