{{#if hasStores}}
<h3>Suas lojas:</h3>
<div id="stores">
  {{#each storeGroups}}
  <div class="row-fluid storesRow">
    {{#each stores}}
    <div data-id="{{_id}}" class="store span3">
      <a href="#store/{{slug}}" class="link">
        {{#if flyer}}
        <img src="{{flyer}}" />
        {{else}}
        <img src="http://dummyimage.com/350x400/000/fff&text=%3F" />
        {{/if}}
        <span class='name'>{{name}}</span>
      </a>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
<!--<table id="stores">-->
  <!--<thead></thead>-->
  <!--<tbody>-->
  <!--{{#each stores}}-->
  <!--<tr>-->
    <!--<td>-->
      <!--<a href="#store/{{slug}}">-->
        <!--{{#if flyer}}-->
        <!--<img src="{{flyer}}" />-->
        <!--{{else}}-->
        <!--<img src="http://dummyimage.com/350x400/000/fff&text=%3F" />-->
        <!--{{/if}}-->
        <!--{{name}}-->
      <!--</a>-->
    <!--</td>-->
  <!--</tr>-->
  <!--{{/each}}-->
  <!--</tbody>-->
<!--</table>-->
{{/if}}
<div>
  <input type="button" id="createStore" class="btn btn-primary" value="Crie uma nova loja" />
</div>
