<h3>Veja <a href="#orders">os pedidos que suas lojas receberam</a>.</h3>
{{#if hasStores}}
<h3>Suas lojas (clique para editar a loja):</h3>
<div id="stores">
  {{#each storeGroups}}
  <div class="row storesRow">
    {{#each stores}}
    <div data-id="{{_id}}" class="store col-md-3">
      <a href="#store/{{slug}}" class="link">
        {{#if flyer}}
        <img src="{{flyer}}" />
        {{else}}
        <img src="http://dummyimage.com/350x400/000/fff&text=%3F" />
        {{/if}}
        <span class='name'>{{name}}</span>
      </a>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
{{/if}}
<div>
  <input type="button" id="createStore" class="btn btn-primary" value="Crie uma nova loja" />
</div>
