<div id="manageStoreBlock">
  <form id="manageStore" role="form">
    {{#if new}}
    <h2>Crie sua loja:</h2>
    {{else}}
    <h2>Atualize sua loja:</h2>
    {{/if}}
    <div class="form-group">
      <label class="control-label" for="name">Nome da loja:</label>
      <div class="controls width6">
        <input type="text" id="name" name="name" data-error-style="tooltip" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="email">Email da loja:</label>
      <div class="controls width6">
        <input type="text" id="email" name="email" data-error-style="tooltip" placeholder="Digite o e-mail da loja"/>
      </div>
    </div>
    {{#if new}}
    <div class="form-group">
      <div class="controls">
        <input type="checkbox" id="pagseguro" name="pagseguro" value="true" checked>utilizar PagSeguro nas vendas</input>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="pagseguroEmail">Email do PagSeguro:</label>
      <div class="controls width6">
        <input type="text" id="pagseguroEmail" name="pagseguroEmail" data-error-style="tooltip" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="pagseguroToken">Token do PagSeguro (veja <a href="{{staticPath}}/images/integracaoPagSeguro.jpg" target="_blank" data-not-push-state="true">aqui</a> como obter seu token):</label>
      <div class="controls width6">
        <input type="text" id="pagseguroToken" name="pagseguroToken" data-error-style="tooltip" />
      </div>
    </div>
    {{/if}}
    <div class="form-group">
      <label>Descrição:</label>
      <div class="controls">
        <textarea id="description" name="description" class="form-control" rows="8" cols="150" data-error-style="tooltip" maxlength="550"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label>Descrição da Home Page:</label>
      <div class="controls">
        <textarea id="homePageDescription" class="form-control" name="homePageDescription" rows="8" cols="150" data-error-style="tooltip"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Telefone:</label>
      <div class="controls width6">
        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="(11) 1234-4567 - ramal xyz" data-error-style="tooltip" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Cidade:</label>
      <div class="controls width4">
        <input type="text" id="city" name="city" data-error-style="tooltip" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Estado:</label>
      <div class="controls width1">
        <select id="state" name="state">
          <option>AC</option> 
          <option>AL</option>
          <option>AP</option>
          <option>AM</option>
          <option>BA</option>
          <option>CE</option>
          <option>DF</option>
          <option>ES</option>
          <option>GO</option>
          <option>MA</option>
          <option>MT</option>
          <option>MS</option>
          <option>MG</option>
          <option>PR</option>
          <option>PB</option>
          <option>PA</option>
          <option>PE</option>
          <option>PI</option>
          <option>RJ</option>
          <option>RN</option>
          <option>RS</option>
          <option>RO</option>
          <option>RR</option>
          <option>SC</option>
          <option>SE</option>
          <option>SP</option>
          <option>TO</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="zip">CEP:</label>
      <div class="controls width3">
        <input type="text" id="zip" name="zip" data-error-style="tooltip" placeholder="99999-999" maxlength="9"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Outro site:</label>
      <div class="controls width6">
        <input type="text" id="otherUrl" name="otherUrl" data-error-style="tooltip" placeholder="Digite outro endereço na internet, começando com http://..."/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Imagem do banner:</label>
      <span class="help-block">Imagem que fica na parte de cima da loja, visível em todas as páginas da loja, esta imagem não será redimensionada, use do tamanho que preferir, recomendamos 1200x300</span>
      <div class="controls">
        <img id="showBanner" /><br />
        Substitua: <input type="file" id="banner" name="banner" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Imagem da Home Page</label>
      <span class="help-block">Imagem que fica acima dos produtos na home page da loja, só visível na home page, deve ter no mínimo 600x400 e será redimensionada para esses valores se for maior</span>
      <div class="controls">
        <img id="showHomePageImage" /><br />
        Substitua: <input type="file" id="homePageImage" name="homePageImage" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Imagem do flyer</label>
      <span class="help-block">
        Imagem que é exibida na home page do site, deve ter no mínimo 350x350 e será redimensionada para esses valores se for maior.
        Para que sua loja apareça você deve colocar um arquivo que represente sua identidade visual e contenha o nome do seu aletiê de
        maneira legível, este arquivo será aprovado em até 48 horas por um administrador do portal.</span>
      <div class="controls">
        <img id="showFlyer" /><br />
        Substitua: <input type="file" id="flyer" name="flyer" />
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label" for="urlTwitter">Twitter (não coloque novamente twitter.com ou @):</label>
      </div>
      http://twitter.com/
      <div class="inlineControl3">
        <input type="text" id="urlTwitter" name="urlTwitter" data-error-style="tooltip" placeholder="SuaLojaNoTwitter" />
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label" for="urlFacebook">Facebook (não coloque novamente facebook.com):</label>
      </div>
      <div class="inlineControl3">
        http://www.facebook.com/<input type="text" id="urlFacebook" name="urlFacebook" data-error-style="tooltip" placeholder="SuaLojaNoFacebook" />
      </div>
    </div>
    <div id="validationErrors"></div>
    {{#if new}}
    <input id="updateStore" type="button" class="btn btn-primary" value="Criar Loja"/>
    {{else}}
    <input id="updateStore" type="button" class="btn btn-primary" value="Atualizar Loja"/>
  </form>
  {{/if}}
  {{#unless new}}
    <div id="pagseguroOptions"></div>
  {{/unless}}
  <div id="nameAlreadyExists" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="nameAlreadyExistsLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="nameAlreadyExistsLabel">Não foi possível salvar</h3>
        </div>
        <div class="modal-body">
          <p>Outra loja já possui esse nome. Escolha um nome diferente.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <div id="sizeIsIncorrect" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="sizeIsIncorrectLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="sizeIsIncorrectLabel">Não foi possível salvar</h3>
        </div>
        <div class="modal-body">
          <p class="errorMsg">O tamanho de alguma das imagens está muito pequeno. Verifique e corrija.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>
