{{#if pagseguro}}
  <input id="unsetPagseguro" type="button" class="btn btn-primary" value="Desativar PagSeguro" data-toggle="modal" data-target="#modalConfirmPagseguro"/>
  <div id="modalConfirmPagseguro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabelPagseguro" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="confirmModalLabelPagseguro">Desligar Pagseguro</h3>
    </div>
    <div class="modal-body">
      <p>Ao desativar o PagSeguro nenhuma venda futura poderá ser feita pelo PagSeguro, e todas deverão ser fechadas manualmente.</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <button id="confirmUnsetPagseguro" class="btn btn-primary">Desativar</button>
    </div>
  </div>
{{else}}
  <input id="setPagseguro" type="button" class="btn btn-primary" value="Ativar PagSeguro" data-toggle="modal" data-target="#modalConfirmPagseguro"/>
  <div id="modalConfirmPagseguro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabelPagseguro" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="confirmModalLabelPagseguro">Ativar Pagseguro</h3>
    </div>
    <div class="modal-body">
      <p>Ao ativar o PagSeguro seu cliente poderá optar por fechar a venda manualmente (em contato com você) ou usar o PagSeguro.</p>
      <div class="control-group">
        <label class="control-label" for="pagseguroEmail">Email do PagSeguro:</label>
        <div class="controls">
          <input type="text" id="pagseguroEmail" name="pagseguroEmail" class="span4" data-error-style="tooltip" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="pagseguroToken">Token do PagSeguro (veja <a href="{{staticPath}}/images/integracaoPagSeguro.jpg" target="_blank">aqui</a> como obter seu token):</label>
        <div class="controls">
          <input type="text" id="pagseguroToken" name="pagseguroToken" class="span4" data-error-style="tooltip" maxLength="32"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <button id="confirmSetPagseguro" class="btn btn-primary">Ativar</button>
    </div>
  </div>
{{/if}}
<div id="modalCannotPagseguro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cannotPagseguroModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="cannotPagseguroModalLabel">Não foi alterar o status do PagSeguro</h3>
  </div>
  <div class="modal-body">
    <p>O cálculo de postagem não foi alterado. Tente novamente mais tarde.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div>
