{{#if justCreated}}
<div id="message" class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Loja criada com sucesso
</div>
{{/if}}
{{#if justUpdated}}
<div id="message" class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Loja atualizada com sucesso
</div>
{{/if}}
<h2 id="name">{{store.name}}</h2>
<a href="#createProduct/{{store.slug}}" id="createProduct" class="btn-primary btn">Crie um novo produto</a>
<a href="#manageStore/{{store._id}}" id="manageStore" class="btn-primary btn">Alterar a loja</a>
<table id="products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
  {{#each products}}
    <tr>
      <td id="product{{_id}}">{{_id}}</td>
      <td id="product{{_id}}_name"><a href="#manageProduct/{{manageUrl}}">{{name}}</a></td>
      <td><a id="product{{_id}}_picture" href="#manageProduct/{{manageUrl}}"><img src="{{picture}}" alt="{{name}}" /></a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
