{{#if justCreated}}
<div id="message" class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Loja criada com sucesso
</div>
{{/if}}
{{#if justUpdated}}
<div id="message" class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Loja atualizada com sucesso
</div>
{{/if}}
<h2 id="name">{{store.name}}</h2>
<a href="#createProduct/{{store.slug}}" id="createProduct" class="btn-primary btn">Crie um novo produto</a>
<a href="#manageStore/{{store._id}}" id="manageStore" class="btn-primary btn">Alterar a loja</a>
<a href="{{store.slug}}" id="viewStore" class="btn">Visualizar a loja</a>
<div id="products">
  {{#each productGroups}}
  <div class="row-fluid productsRow">
    {{#each products}}
    <div id="product{{_id}}" data-id="{{_id}}" class="product span2">
      <a href="#manageProduct/{{manageUrl}}" class="link">
        {{#if pictureThumb}}
        <img src="{{pictureThumb}}" alt="{{name}}" />
        {{else}}
        <img src="http://dummyimage.com/300x450/000/fff&text=%3F" alt="{{name}}"/>
        {{/if}}
        <div class="productInfoBox">
          <span id="product{{_id}}_name" class="name">{{name}}</span>
          <span id="product{{_id}}_price" class="price">R$ {{price}}</span>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
