append variables
  - title += "Termos de uso"
extends ../shared/baseBootstrap
append content
  section#app-container
    .container
      h1 Termos de uso
      #about
        p(align="justify")
          |  POR FAVOR, LEIA OS TERMOS DE USO ("Contrato" ou "Termos de uso") ANTES DE USAR O SITE e serviços oferecidos pelo Ateliês. ESTE ACORDO estabelece os termos juridicamente vinculativo e CONDIÇÕES DE USO DO SITE EM https://www.atelies.com.br (o "Site") E TODOS OS SERVIÇOS PRESTADOS PELO ATELIÊS no Site.
          |  Ao utilizar o Site de qualquer forma, incluindo mas não limitado a visitar ou navegar no site, você (o "Usuário" ou "você") concorda em ficar vinculado pelo presente Acordo, incluindo os termos e condições adicionais e políticas aqui e / referenciados ou disponível por hyperlink. Este Acordo aplica-se a todos os usuários do Site, incluindo, sem limitação de usuários que são fornecedores, clientes, comerciantes, contribuintes de conteúdo, informação e outros materiais ou serviços no Site.
        p(align="justify")
          |  1. Ateliês é um portal
          |  Ateliês atua como um portal para permitir que os usuários que estejam em conformidade com as políticas do Ateliês para oferecer, vender e comprar determinados bens dentro de um formato de preço fixo. Ateliês não está diretamente envolvido na transação entre compradores e vendedores. Como resultado, Ateliês não tem controle sobre a qualidade, segurança, moralidade ou legalidade de qualquer aspecto dos itens listados, a veracidade ou exactidão das listagens, a capacidade dos vendedores para vender artigos ou a capacidade dos compradores de pagar por itens. Ateliês não pode garantir que um comprador ou vendedor vai realmente completar uma transação.Consequentemente, Ateliês não transfere a propriedade legal dos itens do vendedor para o comprador.
          |  Ateliês não pode garantir a verdadeira identidade, idade e nacionalidade de um usuário. Ateliês incentiva você a se comunicar diretamente com potenciais parceiros de transações através das ferramentas disponíveis no site. 
          |  Você concorda que o Ateliês é um portal e como tal não se responsabiliza por qualquer conteúdo, por exemplo, dados, textos, informações, nomes, gráficos, imagens, fotografias, perfis, áudio, vídeo, artigos e links postados por você, outros usuários, ou partidos fora no Ateliês. Você usa o serviço Ateliês por sua conta e risco.
        p(align="justify")
          |  2. Elegibilidade Membership
          |  Idade: os serviços do Ateliês estão disponíveis apenas para, e só podem ser usados ​​por indivíduos que são 18 anos e mais velhos que podem formar contratos juridicamente vinculativos nos termos da legislação aplicável. Você declara e garante que tem pelo menos 18 anos de idade e que todas as informações de registro que você enviar é precisa e verdadeira. Ateliês poderá, a seu exclusivo critério, recusar-se a oferecer acesso ou uso do site para qualquer pessoa ou entidade e mudar seus critérios de elegibilidade a qualquer momento. Esta disposição é nula onde for proibido por lei eo direito de acesso ao site é revogado em tais jurisdições.
          |  Indivíduos com idade inferior a 18 anos devem sempre utilizar os serviços do Ateliês apenas em conjunto com e sob a supervisão de um dos pais ou responsável legal, que é de pelo menos 18 anos de idade. Neste casos, o adulto é o usuário e é responsável por todas e quaisquer atividades.
          |  Compliance: Você concorda em cumprir todas as leis locais relativas à conduta on-line e conteúdo aceitável. Você é responsável por todos os impostos aplicáveis. Além disso, você deve respeitar as políticas do Ateliês como indicado neste acordo, bem como todas as outras regras operacionais, políticas e procedimentos que possam ser publicadas ao longo do tempo sobre o Ateliês, cada uma das quais é aqui incorporada por referência e cada um dos quais pode ser atualizada pelo Ateliês ao longo do tempo, sem aviso prévio.
          |  Além disso, alguns serviços oferecidos através do Site podem estar sujeitos a termos e condições adicionais promulgada pelo Ateliês ao longo do tempo, o uso desses serviços está sujeito a esses termos e condições adicionais, que serão incorporados a este Contrato.
          |  Senha: Mantenha sua senha segura. Você é totalmente responsável por todas as atividades, a responsabilidade e danos resultantes de sua falha em manter a confidencialidade senha. Você concorda em notificar imediatamente o Ateliês de qualquer uso não autorizado de sua senha ou qualquer violação de segurança. Você também concorda que o Ateliês não pode e não será responsável por qualquer perda ou dano resultante de sua falha em manter sua senha segura. Você concorda em não fornecer seu nome de usuário e senha em combinação com qualquer outro partido que não seja Ateliês sem expressa autorização por escrito do Ateliês.
          |  Informações da Conta: Você deve manter suas informações de conta em dia e precisas em todos os momentos, incluindo um endereço de e-mail válido. Para vender itens no Ateliês você deve fornecer e manter informações de pagamento válido, como informações de cartão de crédito ou uma conta PagSeguro válida.
          |  Direito de recusar o serviço:  Ateliês reserva-se o direito de recusar o serviço a qualquer pessoa, por qualquer motivo, a qualquer momento.
        p(align="justify")
          |  3. As taxas e faturamento
          |  A criação de uma loja no Ateliês é gratuita. O Ateliês não cobra taxas para listar um item para venda, assim como não cobra uma percentagem do preço de venda quando o item vende. ESTE SITE NÃO TEM FINS LUCRATIVOS. A manutenção do mesmo se dará pela contribuição em dinheiro de todos os membros a partir de acordo firmado com os proprios membros deste site. No caso do Ateliês introduzir um novo serviço, as taxas para esse serviço serão aplicadas antes do lançamento do serviço, com a concordância ou abstenção da maioria dos usuários lojistas. Salvo disposição em contrário, todas as taxas são cotadas em Reais brasileiros.
        p(align="justify")
          |  4. Sem Garantia
          |  Ateliês não garante o acesso contínuo e ininterrupto ao Site, e funcionamento do Site pode ser interferido por diversos fatores fora do controle do Ateliês
        p(align="justify")
          |  5. DAS DISPOSIÇÕES GERAIS
          |  5.1. Este TERMO não gera nenhum contrato de sociedade, de mandato, franquia ou relação de trabalho entre o SITE e o(s) USUÁRIO(s). 
          |  5.2. O USUÁRIO reconhece que o SITE não é parte de nenhuma transação realizada entre os USUÁRIOS, nem possui controle algum sobre a qualidade, segurança ou legalidade dos produtos anunciados pelos mesmos, nem sobre a veracidade dos anúncios submetido pelos USUÁRIOS ou sobre a capacidade dos USUÁRIOS para negociar. 
          |  5.3. O SITE não pode assegurar o êxito de qualquer transação realizada entre os USUÁRIOS, tampouco verificar a identidade ou os dados pessoais dos USUÁRIOS. Assim o SITE não garante a veracidade da publicação de terceiros e não será responsável pela correspondência ou contratos que o USUÁRIO realize com terceiros.
          |  5.4. O SITE não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelo USUÁRIO em razão de falhas na internet, no sistema ou no servidor utilizado pelo USUÁRIO, ou aqueles decorrentes de condutas de terceiros, de caso fortuito ou de força maior. O SITE também não será responsável por qualquer vírus que possa atacar o equipamento do USUÁRIO em decorrência do acesso, utilização ou navegação na internet ou como consequência da transferência de dados, arquivos, imagens, textos ou áudio.
        p(align="justify")
          |  6. Ateliês Serviço
          |  Ateliês reserva-se o direito de modificar ou encerrar o serviço Ateliês por qualquer motivo, sem aviso prévio, a qualquer momento. Ateliês reserva-se o direito de alterar estes Termos de Uso ou outras políticas do site a qualquer momento, por isso, rever as políticas de freqüência.  O que constitui uma "alteração substancial" será determinada a critério go Ateliês, de boa fé, e usando o bom senso e julgamento razoável.
        p(align="justify")
          |  7. DO FORO E LEGISLAÇÃO APLICÁVEL
          |  Este TERMO é regido pelas leis vigentes na República Federativa do Brasil. Para dirimir eventuais dúvidas ou questões relativas ao presente TERMO, as partes elegem o Foro Central da Cidade de São Paulo, com exclusão de qualquer outro, por mais especiais que sejam, com exceção das reclamações apresentadas por USUÁRIOS que se enquadrem no conceito legal de consumidores, que poderão submeter as mesmas ao foro de seu domicílio.

          
