- var nums = [1,2,3,4,5,6,7,8,9,10]
a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
  span.icon-bar
  span.icon-bar
  span.icon-bar
.nav-collapse.collapse
  ul.nav
    li: a(href='#') Crie sua loja
    if (everyauth.loggedIn && user.isSeller)
      li: a#admin(href='admin') Administração
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown') Lojas
        b.caret
      ul.dropdown-menu
        each loja in nums
          li: a(href='#') Loja #{loja}
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown') Sobre
        b.caret
      ul.dropdown-menu
        li: a(href='#') Sobre o site
        li: a(href='#') Quanto custa
        li: a(href='#') Tecnologia
