extends layout

append head
  script(src='javascripts/lib/require.min.js', data-main='javascripts/adminBootstrap.js')

append content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        include includes/commonHeader
        .nav
          include includes/searches
        .nav.pull-right
          include includes/userInfo
  .container
    section#app-container Carregando...
    script
      define('adminStoresData', function() {
        return {
        stores:!{JSON.stringify(stores)}
        };
      });
