extends layout

block content
  if products.length == 0
    section#app-container Produtos indisponíveis
  else
    section#app-container Há #{products.length} produtos indisponíveis
  script
    define('productsHomeData', function() {
      return !{JSON.stringify(products)};
    });
