extends homeLayout

append head
  script(src='javascripts/lib/require.min.js', data-main='javascripts/homeBootstrap.js')

append content
  .container
    h1.page-header Open Store
    section#app-container Carregando...
    script
      define('productsHomeData', function() {
        return !{JSON.stringify(products)};
      });
