doctype 5
html
  head
    title="Open Store"
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='javascripts/lib/jquery.validate.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    block head
  body
    block content
        
    hr
    footer
      div
        p.text-center 
          &copy; 2013 - OpenStore
          &nbsp;|&nbsp;
          a Termos de uso
          &nbsp;|&nbsp;
          a Sobre
          &nbsp;|&nbsp;
          a Contato

<!--node version: #{process.version} -->
