extends homeLayout
append content
  .container
    h2 Você não é um vendedor em nosso sistema.
    h4 Mas isso pode mudar, você pode se tornar um a qualquer momento. 
      | Vá às configurações do seu perfil e torne-se um vendedor agora. É grátis!
