extends homeLayout

append head
  script
    var storeBootstrapModel = {
      store:!{JSON.stringify(store)},
      products:!{JSON.stringify(products)}
    }
  script(src='javascripts/lib/require.min.js', data-main='javascripts/storeBootstrap.js')

append content
  .container
    if store != null
      section#app-container Carregando...
    else
      h1.page-header Loja n&atilde;o existe
      section#app-container
