<div id="products">
  {{#each categories}}
    {{#if ../hasMoreThanOneCategory}}
      <h4 class="categoryHeader">{{category}}</h4>
    {{/if}}
    {{#each products}}
    <div class="row productsRow">
      {{#each products}}
      <div id="product{{_id}}" data-id="{{_id}}" class="product" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="name" content="{{name}}" />
        <a href="{{slug}}" class="link" itemprop="url">
          <img src="{{pictureThumb}}" />
        </a>
        <a href="{{slug}}">
          <div class="productInfoBox">
            <span id="product{{_id}}_name" class="name">{{name}}</span>
            <span id="product{{_id}}_price" class="price">R$ {{price}}</span>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    {{/each}}
  {{/each}}
</div>
