<div id="cart">
  <div>
    <h2>Carrinho</h2>
  </div>
  {{#if hasItems}}
  <a id="backToStore" class="btn btn-primary" href="#">Voltar à loja</a>
  <table id="cartItems" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th colspan="2">Produtos no carrinho</th>
        <th>Qtd</th>
        <th>Valor unitário</th>
        <th>Valor total</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td><strong>Total:</strong></td>
        <td><strong><span id="totalPrice"></span></strong></td>
      </tr>
    </tfoot>
  </table>
  <a id="backToStore" class="btn btn-primary" href="#">Voltar à loja</a>
  <div class="pull-right">
    <button id="clearCart" class="btn btn-danger">Limpar carrinho</button>
    <button class="updateQuantity btn btn-primary">Atualizar quantidade</button>
    <button id="finishOrderCart" class="btn btn-primary">Continuar</button>
  </div>
  {{else}}
  <h3>Carrinho vazio</h3>
  <a id="backToStore" class="btn btn-primary" href="#">Voltar à loja</a>
  {{/if}}
</div>
