<div id="storeFinishOrderSummary">
  <div>
    <h2>Pagamento</h2>
  </div>
  <div class="row">
    {{#with orderSummary}}
    <div id="orderSummary" class="span4">
      <h4>Resumo do pedido</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Seu pedido</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Total em produtos: (<span id="productsInfo">{{productsInfo}}</span>):
            </td>
            <td>
              <span id="totalProductsPrice">{{totalProductsPrice}}</span>
            </td>
          </tr>
          <tr>
            <td>
              Frete para {{user.deliveryAddress.city}}:
            </td>
            <td>
              <span id="shippingCost">{{shippingCost}}</span>
            </td>
          </tr>
          <tr>
            <td>
              Total da venda:
            </td>
            <td>
              <span id="totalSaleAmount">{{totalSaleAmount}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {{/with}}
  </div>
  <div class="row">
    {{#with cart}}
    <div id="cart" class="span8">
      <h4>Produtos no carrinho</strong></h4>
      <table id="cartItems" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Qtd</th>
            <th>Valor unitário</th>
            <th>Valor total</th>
          </tr>
        </thead>
        <tbody>
          {{#each _items}}
          <tr class="control-group product">
            <td><a class="nameLink" href="{{url}}"><span class="name"/>{{name}}</a></td>
            <td>{{quantity}}</td>
            <td><span class="price" />{{price}}</td>
              <td><span class="totalPrice" />{{totalPrice}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/with}}
  </div>
  <div class="row">
    <div id="shipping" class="span4">
      <h4>Dados de postagem</h4>
      {{#if hasShipping}}
        {{#with user.deliveryAddress}}
        <address id="deliveryAddress">
          <span id="fullAddress"><span id="street">{{street}}</span> - <span id="street2">{{street2}}</span></span><br />
          <span id="city">{{city}}</span><br />
          <span id="state">{{state}}</span><br />
          <span id="zip">{{zip}}</span>
        </address>
        {{/with}}
        <div id="shippingInfo">
          Entrega por <strong>{{shippingOption.name}}</strong> em {{shippingOption.days}}
          {{#if shippingOptionPlural}}
          dias úteis
          {{else}}
          dia útil
          {{/if}}
        </div>
      {{else}}
      <p>Nenhum produto será postado</p>
      {{/if}}
    </div>
    <div class="span4">
      <h4>Dados de pagamento</h4>
      <span id="paymentType">{{paymentType.name}}</span></span>
    </div>
  </div>
  {{#if directSell}}
  <div id="redirMsg">
    Ao clicar no botão de concluir a compra o vendedor será notificado e entrará em contato com você para acertar o pagamento.
  </div>
  {{else}}
  <div id="redirMsg">
    Ao clicar no botão de concluir a compra você será redirecionado ao nosso parceiro, onde fará o pagamento. <br />
    Posteriormente você será redirecionado de volta.
  </div>
  {{/if}}
  <a id="backToStore" class="btn btn-primary" href="#">Voltar à loja</a>
  <a href="#finishOrder/payment" id="goBackToPayment" class="btn btn-primary">Voltar</a>
  <button id="finishOrder" class="btn btn-primary">Concluir a compra</button>
</div>
