<div id="storeFinishOrderPayment">
  <div>
    <h2>Selecione a forma de pagamento</h2>
    <div id="paymentTypesHolder">
      {{#if paypal}}
      <label class="radio">
        <input id="paypal" name="paymentTypes" type="radio" value="paypal" checked/>
        Pagamento via Paypal (online, mais rápido)
      </label>
      {{/if}}
      {{#if pagseguro}}
      <label class="radio">
        <input id="pagseguro" name="paymentTypes" type="radio" value="pagseguro" {{#unless paypal}}checked{{/unless}}/>
        Pagamento via PagSeguro (online, mais rápido)
      </label>
      {{/if}}
      <label class="radio">
        <input id="directSell" name="paymentTypes" type="radio" value="directSell" {{#or pagseguro paypal}}{{else}}checked{{/or}} />
        Pagamento direto ao fornecedor (via contato por e-mail ou telefone, mais lento)
      </label>
    </div>
  </div>
  <button id="backToStore" class="btn btn-primary">Voltar à loja</button>
  {{#if hasShipping}}
  <button id="goBackToShipping" class="btn btn-primary">Voltar</button>
  {{else}}
  <button id="goBackToCart" class="btn btn-primary">Voltar</button>
  {{/if}}
  <button id="selectPaymentType" class="btn btn-primary">Selecionar forma de pagamento</button>
</div>
