<div id="storeFinishOrderShipping">
  <div>
    <h2>Endereço de entrega</h2>
  </div>
  {{#with user.deliveryAddress}}
  <address id="deliveryAddress">
    <span id="fullAddress"><span id="street">{{street}}</span> - <span id="street2">{{street2}}</span></span><br />
    <span id="city">{{city}}</span><br />
    <span id="state">{{state}}</span><br />
    <span id="zip">{{zip}}</span>
  </address>
  {{/with}}
  {{#if hasAutoCalculatedShipping}}
    {{#if hasShippingOptions}}
    <div id="shippingInfo">
      <p>Opções de postagem:</p>
      {{#each shippingOptions}}
      <label class="radio">
        <input id="shippingOptions_{{type}}" name="shippingOptions" type="radio" value="{{type}}" />
        {{days}} dia(s) - {{name}} - {{cost}}
      </label>
      {{/each}}
    </div>
    {{else}}
    <div id="gettingShippingInfo">
      Obtendo custo do frete...
    </div>
    {{/if}}
  {{else}}
    <div id="manualShippingCalculationMessage">O cálculo da postagem será feito posteriormente pela loja.</div>
  {{/if}}
  <a id="updateProfile" class="btn btn-primary" href="/account/updateProfile">Atualizar cadastro</a>
  <a href="#cart" id="goBackToCart" class="btn btn-primary">Voltar</a>
  <button id="finishOrder" class="btn btn-primary" disabled="disabled">Continuar</button>
</div>
