<div id="productInfo">
  <div id="product" data-id="{{product._id}}">
    <img id="picture" src="{{product.picture}}" alt="{{product.name}}" />
    <div class="nameHolder">
      <h2><span id="name">{{product.name}}</span>
    </h2>
    </div>
    <div id="description">{{product.description}}</div>
    <h3>R$ <span id="price">{{product.price}}</span></h3>
    <button class="btn btn-primary btn-large" id="purchaseItem" name="purchaseItem" {{#unless canPurchase}}disabled{{/unless}}><i class="icon-shopping-cart icon-white"></i> Adicionar ao carrinho</button>
    <div id="dimensions">
      <div>Altura: <span id="height">{{product.height}}</span>cms</div>
      <div>Largura: <span id="width">{{product.width}}</span>cms</div>
      <div>Profundidade: <span id="depth">{{product.depth}}</span>cms</div>
    </div>
    <div>Peso: <span id="weight">{{product.weight}}</span>kgs</div>
    <div id="inventoryInfo">
      {{#if product.hasInventory}}
      <div>Estoque: <span id="inventory">{{product.inventory}} itens</span></div>
      {{else}}
      <div><span id="inventory">Feito sob encomenda</span></div>
      {{/if}}
    </div>
    <div id="tags">
      Tags:
      {{#each product.tags}}
        <span class="label tag">{{this}}</span>
      {{/each}}
    </div>
  </div>
  <div id="askAQuestion">
    {{#if store.email}}
      <strong>Ainda em dúvida?</strong><br />
      <a href="mailto:{{store.email}}">Faça uma pergunta</a>
    {{/if}}
  </div>
  <div class="clearfix"></div>
  <div id="productsPlaceHolder">
    <strong></strong>
  </div>
</div>
