<div id="productInfo">
  <div id="product" data-id="{{product._id}}">
    <img id="picture" src="{{product.picture}}" alt="{{product.name}}" />
    <div class="nameHolder">
      <h2><span id="name">{{product.name}}</span>
    </h2>
    </div>
    <div id="description">{{{description}}}</div>
    <h3>R$ <span id="price">{{product.price}}</span></h3>
    <button class="btn btn-primary btn-large" id="purchaseItem" name="purchaseItem" {{#unless canPurchase}}disabled{{/unless}}><i class="icon-shopping-cart icon-white"></i> Adicionar ao carrinho</button>
    <div id="dimensions">
      <div>Altura: <span id="height">{{product.height}}</span>cms</div>
      <div>Largura: <span id="width">{{product.width}}</span>cms</div>
      <div>Profundidade: <span id="depth">{{product.depth}}</span>cms</div>
    </div>
    <div>Peso: <span id="weight">{{product.weight}}</span>kgs</div>
    <div id="inventoryInfo">
      {{#if product.hasInventory}}
      <div>Estoque: <span id="inventory">{{product.inventory}} itens</span></div>
      {{else}}
      <div><span id="inventory">Feito sob encomenda</span></div>
      {{/if}}
    </div>
    <div id="tags">
      Tags:
      {{#each product.tags}}
        <span class="label tag">{{this}}</span>
      {{/each}}
    </div>
  </div>
  <div id="askAQuestion">
    {{#if store.email}}
      <strong>Ainda em dúvida?</strong><br />
      <a href="mailto:{{store.email}}">Faça uma pergunta</a>
    {{/if}}
  </div>
  <div class="clearfix"></div>
  <div id="comments">
    {{#if hasComments}}
      <h4>Comentários sobre o produto:</h4>
      {{#each product.comments}}
      <div class="comment">
        <img class="userPicture" src="{{{gravatarUrl}}" />
        <div class="commentInfo">
          <div class="userName">{{userName}}</div>
          <div class="date">{{niceDate}}</div>
          <div class="body">{{{body}}}</div>
        </div>
      </div>
      {{/each}}
    {{else}}
      <h4>Não há comentários sobre o produto, seja o primeiro a comentar!</h4>
    {{/if}}
  </div>
  <div id="newComment">
    <div class="form-group">
      <textarea id="newCommentBody" name="newCommentBody" rows="8" class="form-control" ></textarea>
      <button id="createComment" class="btn btn-primary">Comentar</button>
    </div>
  </div>
  <div id="productsPlaceHolder">
    <strong></strong>
  </div>
</div>
