<div id="productInfo">
  <div id="product" data-id="{{product._id}}" itemscope itemtype="http://schema.org/Product">
    <img id="picture" src="{{product.picture}}" alt="{{product.name}}" itemprop="image"/>
    <div class="nameHolder">
      <h2><span id="name" itemprop="name">{{product.name}}</span>
    </h2>
    </div>
    <div id="description" itemprop="description">{{{description}}}</div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <h3>R$ <span id="price" itemprop="price">{{product.price}}</span></h3>
      <meta itemprop="priceCurrency" content="BRL" />
      {{#if product.hasInventory}}
        {{#gt product.inventory 0}}
          <link itemprop="availability" href="http://schema.org/InStock" />
        {{else}}
          <link itemprop="availability" href="http://schema.org/OutOfStock" />
        {{/gt}}
      {{else}}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
      {{/if}}
    </div>
    <button class="btn btn-primary btn-large" id="purchaseItem" name="purchaseItem" {{#unless canPurchase}}disabled{{/unless}}><i class="icon-shopping-cart icon-white"></i> Adicionar ao carrinho</button>
    <div id="dimensions">
      <div>Altura: <span id="height" itemprop="height">{{product.height}}</span>cms</div>
      <div>Largura: <span id="width" itemprop="width">{{product.width}}</span>cms</div>
      <div>Profundidade: <span id="depth" itemprop="depth">{{product.depth}}</span>cms</div>
    </div>
    <div>Peso: <span id="weight" itemprop="weight">{{product.weight}}</span>kgs</div>
    <div id="inventoryInfo">
      {{#if product.hasInventory}}
      <div>Estoque: <span id="inventory">{{product.inventory}} itens</span></div>
      {{else}}
      <div><span id="inventory">Feito sob encomenda</span></div>
      {{/if}}
    </div>
    <div id="tags">
      Tags:
      {{#each product.tags}}
        <span class="label label-default tag">{{this}}</span>
      {{/each}}
    </div>
  </div>
  <div id="askAQuestion">
    {{#if store.email}}
      <strong>Ainda em dúvida?</strong><br />
      <a href="mailto:{{store.email}}">Mande um e-mail</a>
    {{/if}}
  </div>
  <div class="clearfix"></div>
  <h4 id="otherProductsHeader">Outros produtos que podem lhe interessar</h4>
  <div id="otherProducts" class="row">
    <div id="carousel">
      {{#each products}}
      <div id="product{{_id}}" data-id="{{_id}}" class="product">
        <a id="product{{_id}}_picture" href="{{slug}}" class="link">
          <img src="{{pictureThumb}}" alt="{{name}}" class="picture" />
          <div class="productInfoBox">
            <span id="product{{_id}}_name" class="name">{{name}}</span>
            <span id="product{{_id}}_price" class="price">R$ {{price}}</span>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    <a class="prev" id="carouselLeft" href="#"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="next" id="carouselRight" href="#"><i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>
  {{#if user}}
    {{#if hasComments}}
      <h4>Deixe seu comentário:</h4>
    {{else}}
      <h4>Não há comentários sobre o produto, seja o primeiro a comentar!</h4>
    {{/if}}
  <div id="newComment">
    <div class="form-group">
      <textarea id="newCommentBody" name="newCommentBody" rows="4" class="form-control" ></textarea>
      <button id="createComment" class="btn btn-primary">Comentar</button>
    </div>
  </div>
  {{else}}
  <div id="mustLoginToCommentMessage">
    Você precisa estar logado para poder comentar. Clique <a href="/account/login?redirectTo=/{{encodedUrl}}">aqui</a> para logar.
  </div>
  {{/if}}
  <div id="comments">
    {{#if hasComments}}
      <h4>Comentários sobre o produto:</h4>
      {{#each product.comments}}
      <div class="comment">
        <img class="userPicture" src="{{{gravatarUrl}}" />
        <div class="commentInfo">
          <div class="userName">{{userName}}</div>
          <div class="date">{{niceDate}}</div>
          <div class="body">{{{body}}}</div>
        </div>
      </div>
      {{/each}}
    {{/if}}
  </div>
</div>
