<div id="storeHeader" class="row" itemscope itemtype="http://schema.org/Store">
  <meta itemprop="name" content="{{store.name}}" />
  {{#if userOwned}}
  <p id="editStore">
    <a class="btn btn-primary" href="/admin/store/{{store.slug}}" data-not-push-state="true">Editar sua loja</a>
  </p>
  {{/if}}
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <meta itemprop="addressLocality" content="{{store.city}}" />
    <meta itemprop="addressRegion" content="{{store.state}}" />
    <meta itemprop="postalCode" content="{{store.zip}}" />
    <meta itemprop="addressCountry" content="BR" />
    <meta itemprop="email" content="{{store.email}}" />
    <meta itemprop="telephone" content="{{store.phoneNumber}}" />
  </div>
</div>
<hr />
<div id="productsPlaceHolder"></div>
