<div id="storeHeader">
  <img id="homePageImage"  src="{{store.homePageImage}}" />
  <div id="homePageDescription">{{{homePageDescription}}}</div>
  {{#if store.urlFacebook}}
  <a id="urlFacebook" href="//www.facebook.com/{{store.urlFacebook}}" title="{{store.name}} no Facebook"><img class="img-circle" src="{{staticPath}}/images/facebook.png" /></a>
  {{/if}}
  {{#if store.urlTwitter}}
  <a id="urlTwitter" href="//twitter.com/{{store.urlTwitter}}" title="{{store.name}} no Twitter"><img class="img-circle" src="{{staticPath}}/images/twitter.png" /></a>
  {{/if}}
  {{#if store.otherUrl}}
  <div>
    <a id="otherUrl" href="{{store.otherUrl}}" title="Outro site de {{store.name}}">{{store.otherUrl}}</a>
  </div>
  {{/if}}
</div>
<hr />
<div id="productsPlaceHolder"></div>
