append variables
  - title += "Senha trocada com sucesso"
extends ../shared/baseBootstrap
append content
  .container
    .alert.alert-success
      button.close(data-dismiss="alert") x
      strong Muito bem!
      | &nbsp;Senha trocada com sucesso!
