<table id="productsHome">
  <thead>
    <tr>
      <th>Id</th>
      <th>Product Name</th>
      <th>Picture</th>
      <th>Store</th>
    </tr>
  </thead>
  <tbody>
  {{#each productsHome}}
    <tr>
      <td id="{{this._id}}">{{this._id}}</td>
      <td id="{{this._id}}_name"><a href="{{this.url}}">{{this.name}}</a></td>
      <td><a id="{{this._id}}_picture" href="{{this.url}}"><img src="{{this.picture}}" alt="{{this.name}}" /></a></td>
      <td id="{{this._id}}_store"><a href="{{this.storeSlug}}">{{this.storeName}}</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
