extends layout

append content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        include includes/commonHeader
        .nav
          include includes/searches
        .nav.pull-right
          include includes/userInfo
