<h2>Crie sua loja:</h2>
<form>
  <div><div>Nome:</div><div><input type="text" id="name" value="" /></div></div>
  <div><div>Telefone:</div><div><input type="text" id="phoneNumber" value="" /></div></div>
  <div><div>Cidade:</div><div><input type="text" id="city" value="" /></div></div>
  <div><div>Estado:</div><div><input type="text" id="state" value="" /></div></div>
  <div><div>Outro site:</div><div><input type="text" id="otherUrl" value="" /></div></div>
  <div><div>Imagem do banner:</div><div><input type="text" id="banner" value="" /></div></div>
  <input id="createStore" type="button" class="btn-primary" value="Criar"/>
</form>
