<h2>Editando o produto produto:</h2>
<form id="editProduct">
  <div>Id:<span id="_id" name="_id"></span></div>
  <div>Slug:<span id="slug" name="slug"></span></div>
  <div>Nome:
  <input type="text" id="name" name="name" />
  </div>
  <div>Preço:</div>
  <input type="text" id="price" name="price" />
  <div>Foto:</div>
  <input type="text" id="picture" name="picture" />
  <div>Tags:</div>
  <input type="text" id="tags" name="tags" />
  <div>Descrição:</div>
  <textarea id="description" name="description" rows="8" cols="150"></textarea>
  <div>Dimensões:</div>
  <p>Altura:</p><input type="text" id="height" name="height" />
  <p>Largura:</p><input type="text" id="width" name="width" />
  <p>Profundidade:</p><input type="text" id="depth" name="depth" />
  <div>Peso:</div>
  <input type="text" id="weight" name="weight" />
  <div>Possui estoque:</div>
  <input type="checkbox" id="hasInventory" name="hasInventory" />
  <div>Estoque:</div>
  <input type="text" id="inventory" name="inventory" />
</form>
<input type="button" id="updateProduct" class="btn-primary" value="Atualizar" />
