append variables
  - title += "Sobre o Ateliês"
extends baseBootstrap
append content
  section#app-container
    .container
      h1 Sobre o Ateliês
      #about
        p(align="justify")
          | Ateliês é um novo conceito de conexão entre o artista e seu cliente.
        p(align="justify")
          | Disponibilizamos um canal totalmente livre, sem fins lucrativos, taxa de adesão, mensalidade ou cobrança de porcentagem sobre suas vendas, porquê queremos ver a comunidade ligada às artes unida e auto organizada.
        p(align="justify")
          | Sim, este espaço é um sonho que se realiza. Seja protagonista desta nova história, temos várias ações que envolvem a divulgação e manutenção deste portal que precisam da sua participação, Junte-se a uma equipe, partilhe ideias, participe e divulgue eventos na sua área, realize um workshop, seja colunista em nosso blog, contribua com material para nossa fan page, enfim, seja parte desse universo.
        p(align="justify")
          | A excelente qualidade vem do trabalho minucioso do programador Giovanni Bassi. Nosso código, por ele criado, é livre, outros podem colaborar, toda melhoria é bem vinda!
