extends baseBootstrap
append content
  .container
    .alert.alert-success
      strong Muito bem!
      | &nbsp;Usuário registrado com sucesso!
      | Agora você deve ter recebido um e-mail de boas vindas. Nele você tem um link onde deverá clicar para confirmar que o e-mail
      | está correto. Com isso você poderá fazer sua primeira compra, e, caso tenha se registrado como vendedor, criar sua primeira loja.
