append variables
  - title += "Sua conta"
extends homeLayout

append scriptsFooter
  script.
    var accountBootstrapModel = {
      user:!{JSON.stringify(user)},
      orders:!{JSON.stringify(orders)}
    };
  script(src='#{CLIENT_LIB_PATH}/lib/requirejs/require.js', data-main='#{CLIENT_LIB_PATH}/bootstrap.js')
  script.
    require(['accountBootstrap']);

append content
  .container.accountContainer
    section#app-container
      .account Carregando...
