append variables
  - title += "Verifique sua conta"
extends baseBootstrap
append content
  .container
    .alert.alert-error
      strong Para realizar essa ação você precisa verificar seu e-mail!
      | &nbsp; Verifique sua inbox se não recebeu o email de notificação, e caso negativo entre em contato via contato@atelies.com.br.
