extends homeLayout

append scriptsFooter
  script.
    var accountBootstrapModel = {
      user:!{JSON.stringify(user)},
      orders:!{JSON.stringify(orders)}
    };
  script(src='/javascripts/lib/requirejs/require.js', data-main='/javascripts/bootstrap.js')
  script.
    require(['accountBootstrap']);

append content
  .container.accountContainer
    section#app-container
      .account Carregando...
