extends homeLayout

append head
  script
    var adminStoresBootstrapModel = {
      stores:!{JSON.stringify(stores)}
    }
  script(src='javascripts/lib/requirejs/require.js', data-main='javascripts/adminBootstrap.js')

append content
  .container
    section#app-container Carregando...
