extends homeLayout

append scriptsFooter
  script
    var adminStoresBootstrapModel = {
      stores:!{JSON.stringify(stores)}
    }
  script(src='javascripts/lib/requirejs/require.js', data-main='javascripts/adminBootstrap.js')
  //-script(src='javascripts/lib/requirejs/require.js', data-main='javascripts/adminBootstrap-built.js')

append content
  .container.adminContainer
    section#app-container
      .admin Carregando...
