extends layout

append head
  script
    var adminStoresBootstrapModel = {
      stores:!{JSON.stringify(stores)}
    }
  script(src='javascripts/lib/requirejs/require.js', data-main='javascripts/adminBootstrap.js')

append content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        include includes/commonHeader
        .nav
          include includes/searches
        .nav.pull-right
          include includes/userInfo
  .container
    section#app-container Carregando...
