extends homeLayout

append scriptsFooter
  script.
    var adminStoresBootstrapModel = {
      stores:!{JSON.stringify(stores)},
      user:!{JSON.stringify(user)}
    }
  script(src='#{STATIC_PATH}/javascripts/lib/requirejs/require.js', data-main='#{STATIC_PATH}/javascripts/bootstrap.js')
  script.
    require(['adminBootstrap']);

append content
  .container.adminContainer
    section#app-container
      .admin Carregando...
