extends homeLayout
append scriptsFooter
  script(src='/javascripts/lib/requirejs/require.js', data-main='/javascripts/bootstrap.js')
  script
    require(['loginBootstrap']);
append content
  .container
    h2 Troque de senha
    if ('undefined' !== typeof errors && errors.length)
      .alert.alert-error
        button.close(data-dismiss="alert") x
        h4 Não foi possível trocar a senha.
        #errors
          - each error in errors
            p.error= error
    form#changePasswordForm.validatable.form-horizontal(method='post')
      .control-group
        label.control-label Senha:
        .controls
          input#password(type='password', name='password', class="required", title="Informe sua senha.")
      .control-group
        label.control-label Senha nova (10 caracteres, no mínimo um minúsculo, um maiúsculo, um número e um caractere especial (!@#$%^&*-):
        .controls
          input#newPassword(type='password', name='newPassword', class="required strongPassword", title="Informe sua nova senha corretamente.")
      .control-group
        label.control-label Confirme a senha nova:
        .controls
          input#passwordVerify(type='password', name='passwordVerify', class="required", title="A senha não confere.", matches="newPassword")
      .control-group
        .controls
          input#changePassword(type='submit', class='btn btn-primary', value='Trocar de senha')
