extends baseBootstrap
append content
  .container
    h2 Troque de senha
    if ('undefined' !== typeof errors && errors.length)
      .alert.alert-error
        button.close(data-dismiss="alert") x
        h4 Não foi possível trocar a senha.
        #errors
          - each error in errors
            p.error= error
    form#changePasswordForm(method='post')
      .control-group
        label Senha:
        .controls
          input#password(type='password', name='password', class="required", title="Informe sua senha.")
      .control-group
        label Senha nova:
        .controls
          input#newPassword(type='password', name='newPassword', class="required", title="Informe sua nova senha.")
      .control-group
        label Confirme a senha nova:
        .controls
          input#passwordVerify(type='password', name='passwordVerify', class="required", title="A senha não confere.", matches="newPassword")
      div
        input#changePassword(type='submit', class='btn btn-primary', value='Trocar de senha')
  :coffeescript
    $ -> $('#changePasswordForm').validate()
