extends baseBootstrap
append content
  section#app-container
    .container
      #contribute
        a(href="mailto:contato@atelies.com.br?subject=Gostaria de contribuir com o Ateliês"): img.contributeIdeas(src="/images/ideas.jpg", alt="Contribuindo com o Ateliês")
