extends baseBootstrap
append content
  section#app-container
    .container
      h1 Fazendo doações para o Ateliês
      #donating
        :markdown
          O Ateliês é um projeto sem fins lucrativos. Mas há custos para mantê-lo no ar (servidor, certificado de segurança SSL, banco de
          dados, etc). As pessoas que trabalharam no projeto não ganham nada com ele, mas esses custos ainda tem que ser pagos. Em algum
          momento, quando as despesas estiverem altas o suficiente vamos conversar com todos os artistas deste site pra dividir os custos,
          que imaginamos serão muito pequenos, ainda mais se comparados com os dos grandes portais de e-commerce. Até lá, se você quiser
          nos ajudar a pagar a infra-estrutura que está no ar nesse momento, seremos muito gratos pelo apoio.

          Clique no botão abaixo e será direcionado ao PagSeguro para fazer sua doação.
          Ou se preferir, [entre em contato](mailto:contato@atelies.com.br) por e-mail que te passamos
          uma conta pra depósito, assim não pagamos a taxa do PagSeguro.
          <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
          <form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
          <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
          <input type="hidden" name="receiverEmail" value="luanarts1@gmail.com" />
          <input type="hidden" name="currency" value="BRL" />
          <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/209x48-doar-laranja-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
          </form>
          <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
