append variables
  - title += "Acesso via Facebook negado"
extends baseBootstrap
append content
  .container
    .alert.alert-error
      strong Não foi possível entrar com o Facebook.
      | &nbsp; Você precisa autorizar a aplicação do Ateliês no Facebook para poder logar com ele!
