extends baseBootstrap
append content
  section#app-container
    .container
      h1 Perguntas frequentes
      dl#faq.expander
        p.question Como me cadastro?
        p.answer Ao clicar em "cadastre-se",  você opta em se tornar um vendedor no preenchimento  do formulário. Você receberá um e-mail onde deve fazer a confirmação deste cadastro para continuar a navegação no site, verifique seu e-mail, inclusive a caixa de lixo eletrônico e marque nosso remetente como confiável para que possa continuar recebendo os avisos do sistema.

        p.question Esqueci meu login, ou senha e agora?
        p.answer Entre em contato conosco: contato@atelies.com.br

        p.question Como altero minha senha atual para uma nova senha?
        p.answer Clique em "Entrar", use seu email e senha e vá em "Administração", clique no botão "Alterar minha Senha". Neste menu você irá encontrar o campo para digitar sua nova senha e outro campo para confirmá-la logo abaixo.

        p.question Como funciona o frete?
        p.answer O valor do frete é negociado pelo vendedor com seu cliente pode variar de acordo com cada estado. Para saber quanto você pagará pelo envio do seu produto, deixe um comentário no produto escolhido informando seu CEP que certamente o vendedor te informará com toda tranquilidade e precisão quais serão os seus custos .

        p.question Como é o calculo automático do frete?
        p.answer Disponibilizamos o cálculo automático do frete via correios para os vendedores que quiserem aderir ao mecanismo deles. Não assumimos nenhuma responsabilidade caso o frete não seja confirmado na hora da postagem, pois esse serviço não é calculado por nós, e sim pelos próprios correios de acordo com as dimensões informadas pelo vendedor no cadastro de um produto.

        p.question Como obtenho um código de rastreamento da compra?
        p.answer Caso o comprador tenha negociado um frete via correios, pode solicitar o código de rastreamento com o lojista para acompanhar a entrega do seu produto.
          | Acessse o site dos Correios e preencha o campo “Rastreamento de Objetos” com o código que foi fornecido.
          | Obs.: o serviço de rastreio estará disponível a partir do dia seguinte a postagem, quando os dados são atualizados no site dos Correios.

        p.question Quais os meios de pagamento disponíveis?
        p.answer Disponibilizamos os seguintes meios de pagamento: PagSeguro e Depósito em conta corrente.

        p.question Como funciona o pagamento com PagSeguro?
        p.answer Comprador - Precisa ter um cadastro no site do PagSeguro para optar por essa forma de pagamento. É seguro e rápido. Os seus dados são protegidos e você tem a garantia de poder bloquear o pagamento em até 14 dias se o produto não chegar ou tiver algum problema, além de poder parcelar suas compras em qualquer cartão de crédito. O cliente escolhe entre cartões de crédito de diversas bandeiras, transferência bancária, débito e boleto.<br />
          | Vendedor - Precisa ter um cadastro no site do PagSeguro para optar por essa forma de pagamento. É seguro e rápido. Os seus dados são protegidos e você tem a garantia de receber em dinheiro, o pagamento realizado via cartão de crédito, transferência, débito e boleto em 14 dias -  este também é o prazo que o cliente tem para realizar uma disputa contra o lojista, caso o último não cumpra com seu dever, como:  o produto não chegar ou apresentar algum problema.
          | Para maiores informações, entre em contato diretamente com o <a href="https://pagseguro.uol.com.br/atendimento/perguntas_frequentes.jhtml">PagSeguro</a>.

        p.question Como funciona o pagamento com depósito em conta corrente?
        p.answer O lojista, ao ser notificado de um pedido, deve contactar o cliente e informar seus dados bancários. Cabe ao cliente confirmar se este pagamento foi realizado encaminhando o recibo (via email por exemplo) para  o lojista dar seguimento ao  pedido.
