extends homeLayout
append scriptsFooter
  script(src='#{STATIC_PATH}/javascripts/lib/requirejs/require.js', data-main='#{STATIC_PATH}/javascripts/bootstrap.js')
  script.
    require(['loginBootstrap']);
append content
  .container
    h2 Solicitar alteração de senha
    if ('undefined' !== typeof error)
      .alert.alert-error
        button.close(data-dismiss="alert") x
        #error.error= error
    form#forgotPasswordForm.validatable.form-horizontal(method='post')
      .control-group
        label.control-label E-mail:
        .controls
          input#email(type='text', name="email", class="required email", title="Informe seu e-mail.")
      .control-group
        .controls
          input#forgotPassword.btn(type='submit', class='btn-primary', value='Solicitar alteração de senha')
