extends homeLayout
append scriptsFooter
  script(src='#{CLIENT_LIB_PATH}/lib/requirejs/require.js', data-main='#{CLIENT_LIB_PATH}/bootstrap.js')
  script.
    require(['loginBootstrap']);
append content
  .container
    h2 Solicitar alteração de senha
    if ('undefined' !== typeof error)
      .alert.alert-error
        button.close(data-dismiss="alert") x
        #error.error= error
    form#forgotPasswordForm.validatable.form-horizontal(method='post')
      .form-group
        label.control-label.col-lg-2 E-mail:
        .col-lg-6: input#email(type='text', name="email", class="required email", title="Informe seu e-mail.")
      .form-group
        .col-lg-offset-2.col-lg-10
          input#forgotPassword.btn.btn-primary(type='submit', value='Solicitar alteração de senha')
