extends layout

append layout
  block header
    section#main.container
      .relative
        img.beta(src="/images/beta.png")
      #site-banner.row(style="margin-bottom: 20px")
        .span4
          if (CONFIG.serverEnvironment == 'production')
            a(href="/"): img(src="/images/ateliesLogoDev.png")
          else
            a(href="/"): img(src="/images/ateliesLogoTeste.png")
        .span6
          h3.nameHeader shopping virtual de artes e afins
        .span2
          ul.pull-right.social
            li: a(href="https://www.facebook.com/Atelies", target="_blank"): img.img-circle(src="/images/facebook.png")
            li: a(href="https://twitter.com/ateliescombr", target="_blank"): img.img-circle(src="/images/twitter.png")
      .navbar
        .navbar-inner
          .container
            include includes/commonHeader
            include includes/userInfo

      block content

      block footer
        footer
          .container
            .row
              .span5
                .featured O Ateliês quer ver a comunidade ligada às artes unida e auto organizada<br /> Seja protagonista dessa nova história
                ul.ideas
                  li: a(href="/contribute") Junte-se a nossa equipe
                  li: a(href="/contribute") Partilhe ideias
                  li: a(href="/contribute") Divulgue eventos na sua área
                  li: a(href="/contribute") Seja colunista em nosso blog
                  li: a(href="/contribute") Contribua com material para nossa fanpage
                  li: a(href="/contribute") Introduza nossas ferramentas no site
                .donation
                  a(href="/donating").money $
                  a(href="/donating").accepting Aceitamos doações
              .span7
                .featured Sua loja virtual hospedada no portal ideal<br />
                  | Sem intermediários entre você e o cliente<br />
                  | Site sem fins lucrativos <br />
                  | Sem taxas de adesão e manutenção
                .securityNotice O Ateliês é protegido por criptografia SSL, a mesma usada nos bancos
                #pagseguro
                  img.pagseguro(src='/images/pagsegFooter.png')
                .links
                  a.link(href="/about") Sobre
                  a.link(href="/IWantToBuy") Quero Comprar
                  a.link(href="/IWantToSell") Quero vender
                  a.link(href="/faq") Perguntas frequentes

            .lastFooter
              &copy; 2013 - Ateliês
              &nbsp;|&nbsp;
              a(href="/terms") Termos de uso
              &nbsp;|&nbsp;
              a(href="/about") Sobre
              &nbsp;|&nbsp;
              a(href="mailto:contato@atelies.com.br") Contato
