extends layout

append layout
  block header
    section#main.container
      .relative
        img.beta(src="/images/beta.png")
      #site-banner.row(style="margin-bottom: 20px")
        .span4
          a(href="/"): img(src="/images/ateliesLogo.png")
        .span6
          h3.nameHeader shopping virtual de artes e afins
        .span2
          ul.pull-right.social
            li: a(href="https://www.facebook.com/Atelies", target="_blank"): img.img-circle(src="/images/facebook.png")
            li: a(href="https://twitter.com/ateliescombr", target="_blank"): img.img-circle(src="/images/twitter.png")
      .navbar
        .navbar-inner
          .container
            include includes/commonHeader
            include includes/userInfo

      block content

      block footer
        footer
          .container
            .row
              .span6
                .page-header
                  h2 Sobre o Ateliês
                p
                  |  Ateliês é um novo conceito de conexão entre o artista e seu cliente.
                  |  Disponibilizamos um canal totalmente livre, sem fins lucrativos, taxa de adesão, mensalidade ou cobrança de porcentagem sobre suas vendas, porquê queremos ver a comunidade ligada às artes unida e auto organizada.
                  |  Sim, este espaço é um sonho que se realiza. Seja protagonista desta nova história, temos várias ações que envolvem a divulgação e manutenção deste portal que precisam da sua participação, Junte-se a uma equipe, partilhe ideias, participe e divulgue eventos na sua área, realize um workshop, seja colunista em nosso blog, introduza novas ferramentas no site, contribua com material para nossa fan page, enfim, seja parte desse universo.
                h3 Contato
                strong Email
                p: a(href="contato@atelies.com.br") contato@atelies.com.br
              //-.span3
                //-.page-header
                  //-h2 Produtos
                //-ul
                  //-li: a Categorias
                  //-li: a Tags
                  //-li: a Busca lojas
                  //-li: a Busca produtos
              .span3
                .page-header
                  h2 Está comprando?
                ul
                  li: a(href="/account#orders") Meus pedidos
                  li: a(href="/IWantToBuy") Quero comprar
                  li: a(href="/faq#whybuyhere") Porque comprar aqui?
              .span3
                .page-header
                  h2 Tenha uma loja
                ul
                  li: a(href="faq") Perguntas frequentes
                  li: a(href="faq#gettingpaid") Pagamentos como preferir
                  li: a(href="faq#howitoworks") Como funciona?
                  li: a(href="faq#howmuch") Quanto custa?
                  li: a(href="faq#howcanihelp") Como posso ajudar?

            p.text-center
              &copy; 2013 - Ateliês
              &nbsp;|&nbsp;
              a(href="/terms") Termos de uso
              &nbsp;|&nbsp;
              a(href="/about") Sobre
              &nbsp;|&nbsp;
              a(href="mailto:contato@atelies.com.br") Contato
