extends layout

append layout
  block header
    section#main.container
      #banner.row(style="margin-bottom: 20px")
        .span4
          a(href="/"): img(src="http://lorempixel.com/350/100/cats/")
        .span6
          h3 shopping virtual de artes e afins
        .span2
          ul.pull-right.social
            li: a: img.img-circle(src="http://dummyimage.com/40x/40/000/fff")
            li: a: img.img-circle(src="http://dummyimage.com/40x/40/000/fff")
            li: a: img.img-circle(src="http://dummyimage.com/40x/40/000/fff")
            li: a: img.img-circle(src="http://dummyimage.com/40x/40/000/fff")
      .navbar
        .navbar-inner
          .container
            include includes/commonHeader
            include includes/userInfo

  block content

  block footer
    hr
    footer
      div
        p.text-center 
          &copy; 2013 - OpenStore
          &nbsp;|&nbsp;
          a Termos de uso
          &nbsp;|&nbsp;
          a Sobre
          &nbsp;|&nbsp;
          a Contato
