extends homeLayout

append head
  script
    var homeProductsBootstrapModel = !{JSON.stringify(products)};
    var homeStoresBootstrapModel = !{JSON.stringify(stores)};
  script(src='/javascripts/lib/requirejs/require.js', data-main='/javascripts/homeBootstrap.js')

append content
  .container
    section#app-container
     .home Carregando...
