append variables
  - title += "Shopping virtual de artes e afins"
extends homeLayout
append scriptsFooter
  script(type='text/javascript').
    var homeProductsBootstrapModel = !{JSON.stringify(products)};
    var homeStoresBootstrapModel = !{JSON.stringify(stores)};
  script(type='text/javascript', src='#{CLIENT_LIB_PATH}/lib/requirejs/require.js', data-main='#{CLIENT_LIB_PATH}/bootstrap.js')
  script(type='text/javascript').
    require(['homeBootstrap']);
append content
  .container.homeContainer
    section#app-container
      .home Carregando...
