append variables
  - title += "Quero comprar"
extends baseBootstrap
append content
  section#app-container
    .container
      h1 Quero comprar
      #iWantToBuy
        :markdown
          Está comprando?

          Parabéns! Você escolheu o portal mais amado por todos os artistas! Aqui é onde podemos praticar nossos melhores preços pois não
          temos nenhum interesse financeiro por trás do portal em si, ele é feito para os artesãos e artistas e para você, nosso cliente.
          Nossa seriedade, capacidade de realização e auto organização nos fez chegar até aqui e, graças a isso, viabilizamos este sonho.

          Passo a Passo de uma compra:

          1. O comprador escolhe os produtos de um lojista e os adiciona ao seu carrinho de compras clicando em "adicionar ao carrinho".
          Cada loja tem o seu próprio carrinho, produtos colocados no carrinho de uma loja não aparecem no carrinho de outra.
          Ao escolher um produto ou vários produtos em alguma das lojas virtuais exposta neste portal, o comprador é orientado para que
          tire suas dúvidas com o próprio lojista pois é ele quem define os meios de pagamento que aceitará, bem como as opções de frete
          que dispõe.

          2. O comprador deve estar logado para seguir os próximos passos e enviar o pedido.
          Será orientado a se cadastrar quando for efetuar sua primeira compra.
          Para que você, comprador, possa ser notificado futuramente do andamento do pedido, vamos te enviar um email de boas vindas,
          você deve confirmá-lo para que valide seu registro de usuário.
          Seu e-mail e senha serão utilizados para que você possa se logar nas interações seguintes.
          Seus dados estarão disponíveis apenas para o lojista que você escolheu, para que este possa te contactar e te remeter a mercadoria.
          Sua senha será sempre criptografada e nem mesmo os administradores do site tem acesso a ela. Fique tranquilo para
          escolher a senha que bem quiser.
          O login sempre será realizado em uma conexão segura e sua senha nunca ficará visível para ninguém na internet. O pagamento,
          quando feito por um dos nossos parceiros (por exemplo, PagSeguro), também sempre se dará em ambiente seguro.

          3. O Ateliês enviará uma notificação por email ao vendedor, comunicando o recebimento de um pedido para que este informe
          seus dados bancários ao comprador e se for pago por PagSeguro ou outro gateway de pagamento, ambos também receberão a
          notificação do PagSeguro.

          4. Feito o pagamento via depósito bancário você deve contactar o vendedor para confirmar este pagamento. Se for feito
          via PagSeguro isso não é necessário.

          5. É interessante, também, que você solicite o código de rastreamento dos Correios do seu lojista. Isso é opcional.

          Boas compras!
          E se você achar que alguma coisa pode melhorar entre em [contato](mailto:contato@atelies.com.br) ou nos mande uma
          <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="216427">sugestão</a>.
