extends baseBootstrap
append content
  section#app-container
    .container
      h1 Quero vender
      #iWantToSell
        :markdown
          Está vendendo?

          Parabéns! Você escolheu o portal mais amado por todos os artesãos! Aqui é onde podemos praticar nossos melhores preços pois não
          temos nenhum interesse financeiro por trás do portal em si, ele é feito para os artesãos e artistas e para você, nosso cliente.
          Nossa seriedade, capacidade de realização e auto organização nos fez chegar até aqui e, graças a isso, viabilizamos este sonho.
          Você é mais que um vendedor deste site, nosso intuito é que a comunidade voltada às artes se auto organize e faça o site funcionar.
          Saiba como clicando [aqui](/contribute).

          ![Passo a passo para criar uma loja](#{STATIC_PATH}/images/papLoja.jpg "Passo a passo para criar uma loja")

          Passo a Passo de uma compra:

          1. O comprador escolhe os produtos de um lojista e os adiciona ao seu carrinho de compras clicando em "adicionar ao carrinho".
          Cada loja tem o seu próprio carrinho, produtos colocados no carrinho de uma loja não aparecem no carrinho de outra.
          Ao escolher um produto ou vários produtos em alguma das lojas virtuais exposta neste portal, o comprador é orientado para que
          tire suas dúvidas com o próprio lojista pois é ele quem define os meios de pagamento que aceitará, bem como as opções de frete
          que dispõe.

          2. O comprador deve estar logado para seguir os próximos passos e enviar o pedido.
          O cliente será orientado a se cadastrar quando for efetuar sua primeira compra.
          Para que você, bem como o comprador, possam ser notificados futuramente do andamento do pedido, vamos 
          te enviar um e-mail de boas vindas, você deve confirmá-lo para que valide seu registro de usuário. Somente após validado o e-mail
          é que você poderá criar a sua primeira loja. Você pode ter quantas lojas quiser.
          Seu e-mail e senha serão utilizados para que você possa se logar nas interações seguintes.
          A loja possui também dados de contato, que são diferentes do seus dados de usuário. Não confunda os dois.
          Os dados da sua loja estarão disponíveis na página principal da loja, permitindo que o cliente possa te contactar. Os seus não.

          3. Para que sua loja possa ter o PagSeguro funcionando automaticamente, você deverá escolher
          o frete automatico dos correios no cadastro da loja e informar os dados de embalagem em cada um dos produtos quando for
          cadastrá-los.

          4. Quando um pedido for realizado, o Ateliês envia uma notificação por e-mail.
          Se for pago por PagSeguro, você receberá também a notificação do PagSeguro.
          Se o cliente tiver escolhido pagamento direto você informa seus dados bancários ao comprador.

          5. Feito o pagamento pelo PagSeguro ou, por opção do comprador, via depósito bancário, você deve contactá-lo para
          informar este recebimento.

          6. É válido, também, que você informe o código de rastreamento dos Correios ao seu cliente.

          Boas vendas!
          E se você achar que alguma coisa pode melhorar entre em [contato](mailto:contato@atelies.com.br) ou nos mande uma
          <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="216427">sugestão</a>.
