doctype 5
html
  head
    title="Ateliês"
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block layout
    block scriptsFooter
<!--node version: #{process.version} -->
