append variables
  - title += "Troca de senha solicitada com sucesso"
extends baseBootstrap
append content
  .container
    .alert.alert-success
      strong Muito bem!
      | &nbsp;E-mail enviado com sucesso! Verique sua caixa de mensagens e clique no link que recebeu.
