extends homeLayout
append scriptsFooter
  script(src='#{STATIC_PATH}/javascripts/lib/requirejs/require.js', data-main='#{STATIC_PATH}/javascripts/bootstrap.js')
  script.
    require(['loginBootstrap']);
append content
  .container
    h2 Troque de senha
    if ('undefined' !== typeof error)
      .alert.alert-error
        button.close(data-dismiss="alert") x
        #error.error= error
    form#changePasswordForm.validatable.form-horizontal(method='post')
      .control-group
        label.control-label Senha nova (8 caracteres, no mínimo uma letra e um número:
        .controls
          input#newPassword(type='password', name='newPassword', class="required strongPassword", title="Informe sua nova senha corretamente.")
      .control-group
        label.control-label Confirme a senha nova:
        .controls
          input#passwordVerify(type='password', name='passwordVerify', class="required", title="A senha não confere.", matches="newPassword")
      .control-group
        .controls
          input#changePassword(type='submit', class='btn btn-primary', value='Trocar de senha')
