extends homeLayout

append scriptsFooter
  script.
    var siteAdminBootstrapModel = {
      user:!{JSON.stringify(user)}
    }
  script(src='#{STATIC_PATH}/javascripts/lib/requirejs/require.js', data-main='#{STATIC_PATH}/javascripts/bootstrap.js')
  script.
    require(['siteAdminBootstrap']);

append content
  .container.siteAdminContainer
    section#app-container
      .siteAdmin Carregando...
