extends storeLayout

append head
  script
    var storeBootstrapModel = {
      store:!{JSON.stringify(store)},
      products:!{JSON.stringify(products)}
    }
  script(src='javascripts/lib/requirejs/require.js', data-main='javascripts/storeBootstrap.js')

append content
  .container
    section#app-container
      .store Carregando...
